################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Win
/Linux
/unittests/testdsk.d64
/unittests/testprog.prg
*.d64
*.prg
